<!-- HTML Template -->

<header data-role="header">
    <h1 class="form-signin-heading">XX平台[alp-dev]</h1>
</header> <!-- /header -->

<div data-role="content" class="ui-content">
    <div class="row">
        <label class="input-label" for="companycode">公司代号</label>
        <input type="text" id="companycode" name="companycode" style="text-transform:Uppercase;"
               class="input-block-level required" value="">
    </div>
    <div class="row">
        <label class="input-label" for="username">登录名</label>
        <input type="text" id="username" name="username" class="input-block-level required" value="">
    </div>
    <div class="row">
        <label class="input-label" for="password">密码</label>
        <input type="password" id="password" name="password" class="input-block-level required">
    </div>
    <div class="row">
        <input class="btn btn-large btn-primary" type="submit" value="登 录" id="submitBtn">&nbsp;&nbsp;
        <label for="rememberMe" title="下次不需要再登录"><input type="checkbox" id="rememberMe" name="rememberMe">
            记住我（公共场所慎用）</label>
    </div>
</div>
<footer data-role="footer">
    <p>
        Copyright © 2001-2017 XX服务平台[alp-dev] - V1.2.7
    </p>
</footer><!-- /footer -->
