<!-- HTML Template -->

<header data-role="header">
    <a href="javascript:void(0)" id="back" data-icon="arrow-l" data-rel="back">返回</a>
    <h1 class="form-signin-heading">测试子页面</h1>
</header> <!-- /header -->

<div data-role="content" class="ui-content">
    <span>啦啦啦</span>
    <input class="btn btn-large btn-primary" type="button" value="返 回" id="backBtn">
    <input class="btn btn-large btn-primary" type="button" value="Ajax测试" id="ajaxTestBtn">
</div>
<footer data-role="footer">
    <p>
        底部信息
    </p>
</footer><!-- /footer -->
