<div data-role="header">
    <h1>欢迎来到我的主页</h1>
</div>

<div data-role="content" class="ui-content">
    <input id="name" type="text" placeholder="请输入姓名">
    <input id="newxtPage" type="button" value="下一页">
    <h2>有序列表：</h2>
    <ol data-role="listview">
        <li><a href="#">列表项</a></li>
        <li><a href="#">列表项</a></li>
        <li><a href="#">列表项</a></li>
    </ol>
    <h2>无序列表：</h2>
    <ul data-role="listview">
        <li><a href="#">列表项</a></li>
        <li><a href="#">列表项</a></li>
        <li><a href="#">列表项</a></li>
    </ul>
</div>

<div data-role="footer">
    <div data-role="navbar">
        <ul>
            <li><a href="#" data-icon="home">首页</a></li>
            <li><a href="#" data-icon="arrow-r">页面二</a></li>
            <li><a href="#" data-icon="search">搜索</a></li>
        </ul>
    </div>
</div>